<launch>
<!-- init RPS -->
    <node name='rps_init' pkg='clever' type='rps_init.py' output='screen' >
	<param name='auto_arm' value='1' />
	<param name='flight_time' value='30' />
    </node>

<!-- positioning system sends position of FCU in frame 'rps_map' to /RPS/pose  -->
    <node name='rps_pose' pkg = 'clever' type = 'rps_pose.py' output='screen'>
    
    <!-- path to file with marameters of camera -->
	<param name='cinfo_path' value='$(find clever)/camera_info/fisheye_cam_640.yaml' />    
    
    <!-- parameters of board --> 
	<param name='first_marker' value='1' />
	<param name='markers_number_x' value='1' />
	<param name='markers_number_y' value='1' /> 
	<param name='markers_side' value='0.16' />	 
        <param name='markers_dist_x' value='0.03' />
	<param name='markers_dist_y' value='0.01' />
    </node>

<!-- offboard control system affords services to control FCU -->
    <node name='rps_offboard' pkg='clever' type='rps_offboard.py' output='screen'>
	<param name='camera_angle' value='1.57' />
	<param name='takeoff_time' value='1'/>
	<param name='hold_yaw' value=''/>

	<param name='thrust_0' value='0.445' />
	<param name='thrust_P' value='0.052' />
	<param name='thrust_D' value='0.55' />
	<param name='thrust_I' value='0.15' />
	<param name='pitch_0' value='-0.055' />
	<param name='pitch_D' value='1.4' />
	<param name='pitch_P' value='0.12' />
	<param name='pitch_I' value='0.2' />
	<param name='pitch_max' value='0.15' />
	<param name='roll_0' value='0.06' />
	<param name='roll_D' value='1.2' />
	<param name='roll_P' value='0.12' />
	<param name='roll_I' value='0.13' />
	<param name='roll_max' value='0.15' />	
    </node>

</launch>

	
